/**
 * @file single_toolbar.css
 * Make admin_menu responsive
 */

#admin-menu {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
html body.admin-menu {
  margin-top: 0 !important;
  padding-top: 29px !important;
}

#admin-menu.hide-bar {
  display: none;
}

@media all and (max-width: 1050px) {
  #admin-menu-account { display: none; }
}
@media all and (max-width: 980px) {
  #admin-menu li a { font-size: 9px !important; padding: 4px !important; }
}

@media all and (max-width: 650px) {
  #admin-menu-icon,
  #admin-menu-menu,
  #admin-menu-account,
  #admin-menu-users { display: none; }
}
